<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="CONSOLE_LOG_PATTERN" value="%d{HH:mm:ss} %5p ${PID:- } [%t] --- %-40.40logger{39} : %m%n%wex"/>

	<conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
	
	<logger name="org.springframework" level="INFO"/>
	<logger name="org.springframework.web" level="DEBUG"/>
	<logger name="org.springframework.jdbc.core.JdbcTemplate" level="INFO"/>
	
  	<logger name="jdbc.sqlonly">
    	<level value="info"/>
  	</logger>	
	
	<logger name="jdbc.resultsettable" additivity="false">
        <level value="info" />
        <appender-ref ref="CONSOLE" />
    </logger>
    
  	<logger name="jdbc.sqltiming">
    	  <level value="info"/>
    	  <appender-ref ref="CONSOLE" />
  	</logger>    

    <logger name="jdbc.sqltiming" additivity="false">
        <level value="info" />
        <appender-ref ref="CONSOLE" />
    </logger>
	
</configuration>